{% extends "main.html" %}
{% block content %}

<p>

    {% if not accept_img %}
        <h1 class="text-white">Your img is not acceptable</h1>
    {% elif is_pic %}
        <h1>Fixed img:</h1>
        <img src="/static/img/{{ filename }}.png" alt="Вы не прикрепляли картинку">
    {% else %}
        <h1>You didn't use an img</h1>
    {% endif %}
</p>
<h1>Fixed text:</h1>
<p class="bg-white text-dark border-dark border-rad" id="toCopy">{{ text }}</p>
<button type="button" class="btn btn-dark text-warning" onclick="Copy('toCopy')" title="Copy">Copy</button>

{% endblock %}