{% extends "main.html" %}
{% block content %}

<h1 align="center">Check the text</h1>
<div class="form-container">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div>
            {{ form.picture.label }}<br>
            {{ form.picture(class="form-control border-dark text-dark", onchange="handleImageUpload(event)", accept=".jpg,.png") }}<br>
            {% for error in form.picture.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <img id="post-image" alt="Your img">
        </div>
        <div class="form-body">
            {{ form.text.label }}<br>
            {{ form.text(class="form-control border-dark text-dark") }}<br>
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <p align="center">{{ form.submit(type="submit", class="btn bg-dark text-warning") }}</p>
        <div>{{ message }}</div>
    </form>
</div>

{% endblock %}